#map, #flickr-image {
 height: 400px;
 width: 100%;
}

.clickable-image:hover{
    cursor: pointer;
}
*{
    box-sizing: border-box;
}

body{
    background-image: url("../images/background.jpg");
    background-size: 100%;
}
 
/* NAV BAR/LOGO/HEADER */
.logo-img{
    height: 20%;
    width: 30%;
}
 
/* SEARCH */
.input-search{
    width: 100%;
}
 
/* STAR RATING */
.rate {
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}   

 
/* RESPONSIVE */
/* @media screen and (max-width:736px){
    .dtMapWrapper{
        display:none;
    }
} */
 
@media screen and (min-width:737px){
    #mobileImgWrapper{
        display:none;
    }
}